@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("TestCreate","Message")){
    
    <br />
    @Html.TextArea("text");
    <input type="submit" />                          
}